.custom-select {
  width: auto;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.number-select {
  height: 37px;
  padding: 2px;
  margin-right: 2px;
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.log-icon {
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  right: 0;
  padding-right: 10px;
}
